In [4]:
file_object = open('D:\\guvi_Session\\python_basics\\abc.txt', 'r')

In [8]:
f = open("abc.txt", 'r')
print(f.read(), end = "")

hi everyone.

In [12]:
f = open("abc_1.txt", 'w')
f.write("this is abhishek\n")
f.write("this is abhishek_1")

18

In [27]:
import pandas as pd

In [29]:
df = pd.read_csv('weight-height.csv')
df.head(10)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801
5   Male  67.253016  152.212156
6   Male  68.785081  183.927889
7   Male  68.348516  167.971110
8   Male  67.018950  175.929440
9   Male  63.456494  156.399676